* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../Images/Patent\ Law.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}  

nav {
	display: flex;
	padding: 2% 2%;
	justify-content: space-between;
	
}

nav img {
	width: 200px;
}

.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #FAF9F6;
	text-decoration: none;
	font-size: 15px;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #0000FF;
	display: block;
	margin: auto;
	transition: 0.5s;
}