* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../Images/Contract.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}  

nav {
	display: flex;
	padding: 2% 2%;
	justify-content: space-between;
	
}

nav img {
	width: 200px;
}

.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #FAF9F6;
	text-decoration: none;
	font-size: 15px;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #0000FF;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.nav-links ul li a.active {
	border-bottom: 2px solid #0000FF;
}

.text-box {
	width: 90%;
	color: #FAF9F6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
	margin: 40px 0 40px;
}

.text-box h3 {
	font-size: 31px;
	margin: 40px 0 40px;
}

.text-box p {
	font-size: 15px;
	margin: 40px 0 40px;
}

.con-btn {
	display: inline-block;
	text-decoration: none;
	color: #FAF9F6;
	border: 1px solid #FAF9F6;
	padding: 12px 34px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.con-btn:hover {
	border: 1px solid #FAF9F6;
	background: #0000FF;
	transition: 1s;
}


.abt-btn {
	display: inline-block;
	text-decoration: none;
	color: #FAF9F6;
	border: 1px solid #FAF9F6;
	padding: 12px 34px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.abt-btn:hover {
	border: 1px solid #FAF9F6;
	background: #0000FF;
	transition: 1s;
}

nav .fa {
	display: none;
}

@media(max-width: 700px) {
	.text-box h3 {
	font-size: 15px;
	margin: 40px 0 40px;
}
}

@media(max-width: 700px) {
	.text-box h1 {
	font-size: 30px;
	margin: 40px 0 40px;
}
}


@media(max-width: 700px) {
	.text-box p {
	font-size: 10px;
	margin: 40px 0 40px;
}
}

@media(max-width: 1000px) {
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #0000FF;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa {
		display: block;
		color: #FAF9F6;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
		
	}
	.nav-links ul {
		padding: 30px;
	}
}

/*-- Form --*/

.form {
	display: flex;
	align-content: center;
	justify-content: space-around;
	width: 100%;
	max-width: 40%;
	margin: 0 auto;
	padding: 2px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	
}

.form-gr {
	width: 100%;
	margin-top: 20px;
	font-size: 15px;
	color: #FAF9F6;
	text-align: center;
}

.form-gr input {
	width: 95%;
	padding: 5px;
	border: 1px solid #494949;
	border-radius: 5px;
	
}

button[type="submit"] {
	width: 99%;
	text-decoration: none;
	color: #FAF9F6;
	border: 1px solid #FAF9F6;
	font-size: 15px;
	background: transparent;
	cursor: pointer;
	padding: 10px;
	margin: 20px 0;
}

button[type="submit"]:hover {
	border: 1px solid #FAF9F6;
	background: #0000FF;
	transition: 1s;
}

/*-- Form --*/

/*-- expertise --*/
.expertise {
	widows: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	
}

.row {
	display: flex;
	justify-content: space-between;
	padding: 0px 60px;
}
h1 {
	font-size: 60px;
	font-weight: 600;
	padding-bottom: 100px;
}

.cul-col {
	flex-basis: 31%;
	background: #D3D3D3;
	border-radius: 10px;
	border-top: 5px solid #0000FF;
	padding: 20px 15px;
	box-sizing: border-box;
	transition: 0.3s;
	
}




.cul-col:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2)
}

@media(max-width: 1000px) {
	.expertise h1 {
		font-size: 40px;
	}

	.cul-col p {
		font-size: 15px;
}
	
}

@media(max-width: 800px) {
		.cul-col p {
		font-size: 10px;
	}

	.cul-col h3 {
		font-size: 15px;
	}
	
}

@media(max-width: 600px) {
	.expertise h1 {
		font-size: 30px;
	}
}

/*-- expertise --*/


/*-- footer --*/

.footer {
	width: 100%;
	background: #471E1F;
	padding: 50px 10px;
	color: #FAF9F6;
	text-align: center;
}

.location {
	padding-bottom: 50px;
}

.cop p {
	font-size: 10px;
}

.icons a {
	color: #FAF9F6;
}

.icons {
	padding-bottom: 50px;
}

.newsletter {
	padding-bottom: 50px;
}

/*-- footer --*/












